.hero {
  position: relative;
  height: 80vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    background-color: $hero-overlay; /* overlay verde-azul */
    z-index: 0;
  }

  .container {
    position: relative;
    z-index: 1;
  }

  .hero-image {
    position: absolute;
    top: 50%;
    left: 50%;
    width: auto;
    height: 100%;
    min-width: 100%;
    min-height: 100%;
    transform: translate(-50%, -50%);
    object-fit: cover;
    z-index: 0;
  }
}
